[Unit]
Description=Chromium Kiosk
Wants=graphical.target
After=graphical.target

[Service]
Environment=DISPLAY=:0.0
Environment=XAUTHORITY=/home/sign/.Xauthority
Type=simple
ExecStart=/bin/bash /etc/kiosk-start.sh
Restart=on-abort
User=sign
Group=sign

[Install]
WantedBy=graphical.target
